.my-line-1{
    border-bottom: 1px solid #BEBEBE;
    padding-bottom: 20px;
}
.my-line-2{
    border-bottom: 1px solid #BEBEBE;
    padding-bottom: 40px;
}
.img-for-cart{
    padding-top: 17px;
    width: 75px;
    height: auto;
}
.all-for-cart{
    padding-top:15px;
    padding-left:28px;
}
.cart-top-8{
    margin-top: 15px;
    float:right;
}
.img-for-details{
    width: 300px;
    height: auto;
}
.a-for-commandes{
    background: black;
    text-decoration: none;
    outline:none;
    color: white;
    padding: 10px 20px;
    margin-left: 15px;
}
.a-for-commandes:hover{
    color:white;
    background: #555;
    outline:none;
    text-decoration:none;
}
.center{
    margin-left: auto;
    margin-right: auto;
}